{% extends 'layout.html.twig' %}

{% block title %}Editer un Item{% endblock %}

{% block content %}
    <main>
        <h1>Item {{ item.title }}</h1>
        <ul>
            <li>Id : {{ item.id  }}</li>
        </ul>
        <form method="post">
        <input type="text" name="title" value="{{  item.title }}">
        <input type="submit" name="modifier" value="edit">
        </form>


        <a href='/'>Back to list</a>
    </main>

{% endblock %}