{% extends 'layout.html.twig' %}
{% block title %}La catégorie {% endblock %}
{% block content %}
   <main>
    <h4>Categorie {{ category.name }} </h4>
<ul>
    <li>Id : {{ category.id }} </li>
</ul>
<a href='../categories'>Back to list</a>
</main>
{% endblock %}